<div style="margin: 20px; width:60%;">

<h1><%= t('book.edit_book') %></h1>

<div style="margin-top: 40px;">

<%= render 'form' %>

<%= link_to t('book.show'), @book, class:"btn btn-primary", style:"color:#FFFFFF;" %> |
<%= link_to t('book.back'), books_path, class:"btn btn-info", style:"color:#FFFFFF;" %>

</div>

</div>
