
<div style="margin: 20px; width:60%;">

<h1>Nuevo Libro</h1>


<div style="margin-top: 40px;">

<%= render 'form' %>

<%= link_to 'Atras', books_path, class: "btn btn-info", style: "color:#FFFFFF;" %>
</div>

</div>
